@font-face {
    font-family: DS-Digital;
    src: url(../Assets//fonts/ds-digit.ttf);
}

.timer {
    font-family: DS-Digital;
    font-size: 4rem;
    background-color: red;
    text-align: center;
    margin: 0px 20px;
    color: #87fc83;
    background-color: black;
    border-radius: 5px;
}

.timerlabel {
    margin-top: -12px;
    font-size: 1.2rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    padding-bottom: 8px;
}